mixin breadcrumb(path)
  - var components = path.split('/')
  - var last = components[components.length - 1]
  ol.breadcrumb
    - for component in components
        if component == last
          li.active= component
        else 
          li
            a(href="##{component}")= component

+breadcrumb("home/library")
